@import "tailwindcss";

@theme{
    --color-background-color: oklch(0.99 0.005 17.38);
    --color-main-color: oklch(0.555 0.163 52.998);
    --color-main-hover: oklch(0.655 0.163 52.998) ;
}

@keyframes toast-up {
    from { opacity: 0; transform: translateX(-50%) translateY(16px); }
    to   { opacity: 1; transform: translateX(-50%) translateY(0); }
}

.toast-enter {
    animation: toast-up 0.2s ease-out forwards;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: var(--color-main-color); /* Scrollbar color */
    border-radius: 4px; /* Rounded edges */
}



html {
    background-color: var(--color-background-color);
    overflow-y:scroll;
}

@layer base {


    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Itim", cursive;
    }
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
